{%extends "signbase.html"%} {%block title%}BioDataCenter{%endblock%} {%block
content%}
<style>
  .text-center {
    text-align: center;
  }
  .text-black {
    color: black;
  }
</style>
<br />
<div
  class="card card-image"
  style="
    background-image: url('https://image.freepik.com/free-photo/clovers-background_91008-52.jpg');
  "
>
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <!-- Content -->
      <h1 class="card-title h1">Welcome to Bio Data Center</h1
      <h5 class="h5 orange-text">
        <i class="fas fa-camera-retro"></i> Share and Colaborate
      </h5>

      <h2 class="card-title h2 my-4 py-2">Share Your Environment with other</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">
        Bio Data Center is a platform for sharing ideas and fellings about
        biodiversity and Environment
      </p>
      <a href="/sightings" class="btn peach-gradient"
        ><i class="fas fa-clone left"></i> See other Bio Sightings</a
      >
    </div>
  </div>
</div>
<div
  class="jumbotron card card-image"
  style="
    background-image: url(https://image.freepik.com/free-vector/colourful-tropical-wallpaper-with-empty-space_23-2148805354.jpg);
  "
>
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
        <strong>Show Your Sightings !</strong>
      </h2>
      <h3 class="mx-5 mb-5">
        what are you waiting for!!! start sharing and colaborating
      </h3>
      <a href="/sighting/add/post" class="btn btn-outline-white btn-md"
        ><i class="fas fa-clone left"></i> Share a Sighting</a
      >
    </div>
  </div>
</div>
{%endblock%}
